.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.righbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.rightbarOnline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid #fff;
}

.rightbarUsername {
    font-weight: 500;
}